.spaceComponent {
    display: inline-block;
    width: 450px;
    /* height: 500px; */
    margin: 5px;
    /* border-style: solid;     */
    overflow: auto;
}
img {
    max-width:100%;
    max-height:100%;
}
.name {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
}